html {
  background-color: rgb(21, 183, 185);
  color: white;
  font-size: 16px;
}

body {
  font-family: system-ui, sans-serif;
  font-size: 1rem;
  line-height: 2rem;
  margin: 0;
  padding: 1rem;
  width: 14rem;
}

select {
  font-size: 1rem;
  height: 1.5rem;
  margin-left: 0.5rem;
  margin-top: 0.5rem;
}

input[type="radio"] {
  margin-left: 0.5rem;
}

input[type="button"] {
  font-size: 1rem;
  margin-left: 0.5rem;
  margin-top: 0.5rem;
}

table {
  font-size: 1rem;
}

tr {
  vertical-align: text-top;
}

label {
  font-size: 1rem;
}

div#header {
  font-size: 2.5rem;
  text-align: center;
  font-weight: bold;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
}

div#content {
  font-size: 1.25rem;
}

div#message {
  font-size: 0.75rem;
  line-height: 1rem;
  height: 3rem;
  padding-top: 0rem;
}

div.item {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

div.item_title {
  font-weight: bold;
}
