html {
  background-color: white;
  color: #3c4043;
  font-size: 16px;
}

body {
  font-family: "Georgia", system-ui, sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  margin: 0;
  padding: 1rem;
}


div.source {
  color: #174ea6;
  opacity: 0.1;
  transition: all 1s;
  display: block;
}

div.source:hover {
  opacity: 1;
}

div.item {
  padding: 0.5rem;
}