
body {
  background-color: white;
  color: #3c4043;
  font-family: "Georgia", system-ui, sans-serif;
  line-height: 1.5;
  margin: 25px 25px 25px 25px;
}

span.source {
  color: #174ea6;
  opacity: 0.1;
  transition: all 1s;
  display: block;
}

span.source:hover {
  opacity: 1;
}
